@mixin d-flex {
    display: flex;
}

@mixin justify-between {
    justify-content: space-between;
}

@mixin justify-center {
    justify-content: center;
}

@mixin align-center {
    align-self: center;
}