@use "../../globals/mixins.scss" as mixins;

.navbar {
    &__header {
        margin: 3.2rem 2.4rem;
    }

    &__header-container {
        @include mixins.d-flex;
        @include mixins.justify-between;
    }

    &__user-container {
        @include mixins.d-flex
    }

    &__username {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1%;

    }

    &__logo {
        height: 3.2rem;
        width: 18rem
    }
}