@import "tailwindcss";

@layer utilities {
    .bg-darkblue { background-color: #3C5DDD; }
    .bg-greenishwhite { background-color: #228EFF; }
    .bg-colorc { background-color: #214236; }
    .bg-colord { background-color: #76C86D; }
    .bg-colorf { background-color: #FBDB5A; }
    .bg-colorg { background-color: #F0A711; }
    .bg-colorh { background-color: #E8867A; }
    .bg-colori { background-color: #E24B42; }
    .bg-colorj { background-color: #CF4012; }
    .bg-colorl { background-color: #052A6E; }
    .bg-coloram { background-color: #94F6EC; }
    .bg-greenish { background-color: #E6F29A; }
    .bg-brandpurple { background-color: #AB63CF; }
  
    .h-17 { height: 68px; }
    .h-75 { height: 300px; }
    .h-57 { height: 230px; }
  
    .w-17 { width: 68px; }
    .w-75 { width: 300px; }
    .w-82 { width: 332px; }
    .w-121 { width: 664px; }
  
    .border-1 { border-width: 1px; }
  
    /* Custom colors */
    :root {
      --tw-color-bluish: #222ADD;
      --tw-color-lightgray: #555555;
      --tw-color-darkcream: #DED7D5;
      --tw-color-lightcream: #FBF9F8;
      --tw-color-textblack: #1C1C1C;
      --tw-color-greenish: #E6F29A;
      --tw-color-brandpurple: #AB63CF;
      --tw-color-darkblue: #3C5DDD;
      --tw-color-darkestblue: #001B49;
      --tw-color-greenishwhite: #228EFF;
      --tw-color-colorc: #214236;
      --tw-color-colord: #76C86D;
      --tw-color-colorf: #FBDB5A;
      --tw-color-colorg: #F0A711;
      --tw-color-colorh: #E8867A;
      --tw-color-colori: #E24B42;
      --tw-color-colorj: #CF4012;
      --tw-color-colorl: #052A6E;
      --tw-color-coloram: #94F6EC;
    }
  }
